{% extends "app/layout.html" %} {% block content %}

<!-- static -->
{% load static %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bem-vindo à <span>Segurança Escolar</span></h2>
          <p class="animate__animated fanimate__adeInUp">Tornando nossas escolas mais seguras para alunos e funcionários. Nossa missão é proporcionar um ambiente educacional protegido e acolhedor. Saiba mais sobre nossos serviços e soluções de segurança.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Nossos Serviços</h2>
          <p class="animate__animated animate__fadeInUp">Oferecemos uma variedade de soluções de segurança escolar, incluindo sistemas de vigilância, controle de acesso e treinamento de pessoal. Trabalhamos para criar um ambiente onde todos se sintam protegidos.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Entre em Contato</h2>
          <p class="animate__animated animate__fadeInUp">Estamos aqui para responder às suas perguntas e discutir como podemos melhorar a segurança em sua escola. Entre em contato conosco hoje mesmo e junte-se a nós na promoção de um ambiente educacional seguro.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->
  <main id="main">

  <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Sobre Nós</h2>
          <p>Quem somos</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Nós somos apaixonados por garantir a segurança nas escolas e proteger o ambiente educacional. Nosso compromisso é fornecer soluções eficazes para promover um ambiente seguro para alunos e funcionários.

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Desenvolvemos sistemas de segurança avançados</li>
              <li><i class="ri-check-double-line"></i> Oferecemos treinamento especializado em segurança escolar</li>
              <li><i class="ri-check-double-line"></i> Trabalhamos para criar um ambiente educacional protegido</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
            Estamos comprometidos em tornar cada escola um local onde todos se sintam seguros para aprender e crescer. A segurança dos alunos é a nossa prioridade máxima, e trabalhamos incansavelmente para alcançar esse objetivo.

            </p>
              <a href="#" class="btn-learn-more">Saiba Mais</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="features" class="features">
  <div class="container">

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <i class="ri-school-line"></i>
          <h4 class="d-none d-lg-block">Segurança nas Escolas</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <i class="ri-shield-cross-line"></i>
          <h4 class="d-none d-lg-block">Treinamento em Situações de Emergência</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <i class="ri-camera-line"></i>
          <h4 class="d-none d-lg-block">Sistemas de Vigilância Avançados</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
          <i class="ri-group-line"></i>
          <h4 class="d-none d-lg-block">Comunidade Segura</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Garantindo a Segurança nas Escolas.</h3>
            <p class="fst-italic">
              Nosso compromisso é criar um ambiente seguro e acolhedor para alunos, professores e funcionários.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Utilizamos tecnologia avançada para proteger escolas.</li>
              <li><i class="ri-check-double-line"></i> Promovemos a segurança como prioridade.</li>
              <li><i class="ri-check-double-line"></i> Colaboramos com escolas e comunidades para criar um ambiente educacional protegido.</li>
            </ul>
            <p>
              A segurança nas escolas é essencial para o sucesso educacional. Trabalhamos incansavelmente para tornar isso uma realidade.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'app/assetsindex/img/features-1.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Treinamento em Situações de Emergência.</h3>
            <p>
              Preparar sua equipe para lidar com situações de emergência é fundamental. Oferecemos treinamento especializado para garantir que todos saibam como agir em momentos críticos.
            </p>
            <p class="fst-italic">
              A segurança nas escolas é uma responsabilidade compartilhada por todos na comunidade educacional.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Treinamento abrangente em segurança escolar.</li>
              <li><i class="ri-check-double-line"></i> Esteja preparado para agir em caso de emergência.</li>
              <li><i class="ri-check-double-line"></i> Trabalhamos juntos para criar um ambiente seguro para todos.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'app/assetsindex/img/features-2.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Sistemas de Vigilância Avançados.</h3>
            <p>
              Utilizamos sistemas de vigilância avançados para monitorar e proteger escolas. A tecnologia desempenha um papel fundamental na segurança.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Vigilância contínua para manter a segurança.</li>
              <li><i class="ri-check-double-line"></i> Protegemos o ambiente educacional com tecnologia de ponta.</li>
              <li><i class="ri-check-double-line"></i> Colaboramos com escolas para garantir que a tecnologia funcione a seu favor.</li>
            </ul>
            <p class="fst-italic">
              A segurança nas escolas é uma prioridade que não pode ser subestimada.
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'app/assetsindex/img/features-3.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-4">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Comunidade Segura.</h3>
            <p>
              Nossa missão é criar uma comunidade segura e acolhedora em torno de cada escola. A segurança envolve todos nós.
            </p>
            <p class="fst-italic">
              Quando se trata de segurança nas escolas, todos desempenham um papel fundamental.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Todos são responsáveis pela segurança nas escolas.</li>
              <li><i class="ri-check-double-line"></i> Trabalhamos juntos para criar um ambiente seguro para todos.</li>
              <li><i class="ri-check-double-line"></i> Priorizamos a segurança dos alunos, professores e funcionários.</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'app/assetsindex/img/features-4.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- Fim da Seção Recursos -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
  <div class="container">

    <div class="row" data-aos="zoom-out">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Promova a Segurança nas Escolas</h3>
        <p>Garantir um ambiente educacional seguro é essencial para o sucesso de nossos alunos. Trabalhamos incansavelmente para proteger as escolas e promover a segurança de todos os envolvidos na educação.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">Saiba Mais</a>
      </div>
    </div>

  </div>
</section><!-- Fim da Seção Call To Action -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Nossos Serviços</h2>
          <p>O que oferecemos para garantir a segurança</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Segurança 24/7</a></h4>
              <p class="description">Vigilância contínua e segurança ininterrupta para proteger estudantes, professores e funcionários.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Sistemas de Vigilância</a></h4>
              <p class="description">Utilizamos tecnologia avançada de câmeras e sistemas de vigilância para monitorar e proteger o ambiente escolar.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Colaboração com Escolas</a></h4>
              <p class="description">Trabalhamos em estreita colaboração com escolas para garantir que nossos serviços atendam às necessidades específicas de cada instituição educacional.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Comunidade Segura</a></h4>
              <p class="description">Nossa missão é criar uma comunidade segura em torno de cada escola, onde todos desempenham um papel fundamental na segurança.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Proteção Total</a></h4>
              <p class="description">Priorizamos a segurança dos alunos, professores e funcionários, oferecendo proteção total nas instalações educacionais.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Tecnologia Avançada</a></h4>
              <p class="description">Implementamos tecnologia avançada para garantir a segurança e o bem-estar de todos na comunidade escolar.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Preços</h2>
          <p>Nossos Preços Competitivos</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Perguntas Frequentes</h2>
      <p>Dúvidas Comuns</p>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Como funciona o sistema de segurança nas escolas? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Nosso sistema de segurança nas escolas utiliza tecnologia avançada para garantir a proteção dos alunos e do ambiente escolar. Estamos comprometidos com a segurança contínua e trabalhamos em colaboração com as escolas para garantir que a tecnologia funcione a seu favor.
          </p>
        </div>
      </li>

      <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Quais são os benefícios da tecnologia de segurança nas escolas?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
            A tecnologia de segurança nas escolas oferece benefícios como vigilância contínua, proteção do ambiente educacional e maior tranquilidade. É uma prioridade que não pode ser subestimada.
              </p>
            </div>
      </li>


      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Como posso obter mais informações sobre os serviços de segurança nas escolas? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Para obter mais informações sobre nossos serviços de segurança nas escolas, entre em contato conosco por meio do nosso site ou dos contatos disponíveis. Teremos o prazer de responder a todas as suas dúvidas.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Como posso solicitar uma avaliação de segurança para minha escola? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Para solicitar uma avaliação de segurança para sua escola, entre em contato conosco e agendaremos uma visita para avaliar suas necessidades específicas e propor soluções adequadas.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Qual é o prazo de implementação dos sistemas de segurança? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            O prazo de implementação dos sistemas de segurança nas escolas pode variar de acordo com as necessidades específicas de cada instituição. Trabalhamos de forma eficiente para garantir uma implementação rápida e eficaz.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Quais são os benefícios de um sistema de segurança avançado? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Um sistema de segurança avançado oferece benefícios como vigilância contínua, proteção do ambiente educacional e colaboração eficaz com as escolas. Estamos comprometidos em garantir que a tecnologia funcione a favor da segurança.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section><!-- Fim da Seção de Perguntas Frequentes -->


    <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Contato</h2>
      <p>Fale Conosco</p>
    </div>

    <div class="row mt-5">

      <div class="col-lg-4" data-aos="fade-right">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Localização:</h4>
            <p>Rua Adam, 108, Nova Iorque, NY 535022</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@exemplo.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefone:</h4>
            <p>+1 5589 55488 55</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Carregando</div>
            <div class="error-message"></div>
            <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
          </div>
          <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- Fim da Seção de Contato -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
    <h3>Segurança nas Escolas</h3>
    <p>Comprometidos com a segurança em ambientes educacionais. Sua tranquilidade é nossa prioridade.</p>
    <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Escola Segura</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'app/assetsindex/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'app/assetsindex/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/assetsindex/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app/assetsindex/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app/assetsindex/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'app/assetsindex/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'app/assetsindex/js/main.js' %}"></script>


  

{% endblock %}
