{% extends "app/layout.html" %} {% block content %}

<div class="jumbotron">
  <h1>Avaliação de Risco Escolar</h1>
  <p class="lead">
    Bem-vindo à Plataforma de Avaliação de Risco para Escolas. Esta plataforma
    permite que você avalie os riscos relacionados à segurança e saúde nas suas
    instalações escolares.
  </p>
  <p><a href="#" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Comece Agora</h2>
    <p>
      Comece a avaliação de risco clicando no botão abaixo. Esta ferramenta
      fornecerá insights sobre possíveis riscos em sua escola.
    </p>
    {% if request.user.is_authenticated %}
    <p>
      <a class="btn btn-default" href="{% url 'topics_page' %}"
        >Iniciar Avaliação &raquo;</a
      >
    </p>
    {% else %}
    <p>
      <a class="btn btn-default" href="{% url 'login' %}"
        >Iniciar Avaliação &raquo;</a
      >
    </p>
    {% endif %}
  </div>
  <div class="col-md-4">
    <h2>Recursos</h2>
    <p>
      Explore nossa biblioteca de recursos para obter informações adicionais
      sobre como melhorar a segurança e a saúde na sua escola.
    </p>
    <p><a class="btn btn-default" href="#">Explorar Recursos &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Suporte</h2>
    <p>
      Precisa de ajuda? Entre em contato conosco para obter assistência ou
      esclarecer suas dúvidas.
    </p>
    <p><a class="btn btn-default" href="#">Entrar em Contato &raquo;</a></p>
  </div>
</div>

{% endblock %}
